.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: auto;
  position: static;
  overflow: visible;
} /*본문 내용 길어짐 대비 구조 변경*/
.div2 {
  position: absolute;
  inset: 0;
}
.div3 {
  width: 1358px;
  position: static;
}


.div4 {
  background: #f2f4f6;
  border-radius: 15px;
  border-style: solid;
  border-color: #dbdbdb;
  border-width: 4px;
  width: 1358px;
  height: 1265px; /*auto로 변경해야 함*/ 
  position: absolute; /*relative 고려 * 본문길이에 따라 늘어나야...*/
  left: 77px;
  top: 377px;
  padding: 20px;
}
.rectangle-1215 {
  background: #ffffff;
  border-radius: 20px;
  width: 1305px;
  height: auto;
  position: relative;
  left: 103px;
  margin-top: 496px;
  padding: 20px; /* 안쪽 여백 넣으면 더 보기 좋음 */
  box-sizing: border-box; /* padding 포함 너비 계산 */
}
._22-20-13-43-86-43-2026-8-0-5-13-40-43 {
  color: #303030;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 127px;
  top: 512px;
  width: 1262px;
  height: 490px;
}
.div5 {
  margin-top: 200px;       /* 원하는 만큼 간격 조정 */
  position: static;       /* 기본값 */
  display: block;         /* 혹시 inline 요소로 바뀌어 있을 경우 대비 */
}


.rectangle-1184 {
  border-radius: 0px;
  width: 645px;
  height: 137px;
  position: absolute;
  left: 184px;
  top: 1303.29px;
  overflow: visible;
}
.rectangle-1182 {
  border-radius: 0px;
  width: 644.23px;
  height: 69.35px;
  position: absolute;
  left: 184.45px;
  top: 1199px;
  overflow: visible;
}
.rectangle-1185 {
  border-radius: 0px;
  width: 644.23px;
  height: 69.35px;
  position: absolute;
  left: 184.01px;
  top: 1462.29px;
  overflow: visible;
}
.div6 {
  color: #303030;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 1208.29px;
  width: 540px;
  height: 81px;
}
._52-37-10-5 {
  color: #696969;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 700;
  position: absolute;
  left: 882px;
  top: 1503px;
  width: 490px;
  height: 91px;
}
._30-40-65 {
  color: #303030;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 200px;
  top: 1322.29px;
  width: 526.48px;
  height: 93.82px;
}
.frame-164 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 107.84px;
  top: 1190.4px;
  overflow: visible;
}
.frame-163 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 107.84px;
  top: 1292.38px;
  overflow: visible;
}
.div7 {
  color: #303030;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
  position: absolute;
  left: 199.56px;
  top: 1471.57px;
  width: 540px;
  height: 81px;
}
.frame-167 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 48.9px;
  height: auto;
  position: absolute;
  left: 765px;
  top: 1385px;
  overflow: visible;
}

.frame-173 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  width: 1291px;
  position: absolute;
  left: 108px;
  top: 405px;
  z-index: 100px;
}
.div9 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 33px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  width: 967px;
}
.div10 {
  background: #fafbfc;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 4px;
  padding: 19px 24px 18px 29px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 278px;
  height: 66px;
  position: relative;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.div11 {
  color: #696969;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  width: 202px;
}
.vector {
  flex-shrink: 0;
  width: 18.43px;
  height: 26.02px;
  position: relative;
  overflow: visible;
}
.div12 {
  width: 398.17px;
  height: 281.39px;
  position: static;
}
.main-chart {
  width: 398.17px;
  height: 281.39px;
  position: absolute;
  left: 928px;
  top: 1208px;
}
.pie-layer {
  width: 92.14%;
  height: 86.96%;
  position: absolute;
  right: 7.82%;
  left: 0.04%;
  bottom: 6.84%;
  top: 6.2%;
}
.pie-3 {
  background: #c1cbec;
  border-radius: 50%;
  width: 66.52%;
  height: 97.5%;
  position: absolute;
  right: 16.74%;
  left: 16.74%;
  bottom: 1.25%;
  top: 1.25%;
}
.pie-1 {
  background: #6b74c4;
  border-radius: 50%;
  width: 66.52%;
  height: 97.5%;
  position: absolute;
  right: 16.74%;
  left: 16.74%;
  bottom: 1.25%;
  top: 1.25%;
}
.pie-2 {
  background: #c5c5d0;
  border-radius: 50%;
  width: 66.52%;
  height: 97.5%;
  position: absolute;
  right: 16.74%;
  left: 16.74%;
  bottom: 1.25%;
  top: 1.25%;
}
.label-content {
  position: absolute;
  inset: 0;
}
.label-name {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  right: -4.85%;
  left: 90.29%;
  width: 14.56%;
  bottom: 14.7%;
  top: 80.73%;
  height: 4.56%;
}
.label-value {
  color: #8f8f96;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  right: -3.42%;
  left: 90.36%;
  width: 13.07%;
  bottom: -0.01%;
  top: 89.74%;
  height: 10.27%;
}
.pie-labels {
  position: absolute;
  inset: 0;
}
.label-0 {
  width: 157.7px;
  height: 30.98px;
  position: static;
}
.label-content2 {
  width: 68px;
  height: 23px;
  position: static;
}
.label-value2 {
  color: #6b74c4;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  right: -43.02px;
  bottom: 70.14%;
  top: 21.69%;
  height: 8.17%;
  width: 68px;
}
.vector2 {
  width: 15.48%;
  height: 6.95%;
  position: absolute;
  right: 13.32%;
  left: 71.2%;
  bottom: 74.2%;
  top: 18.85%;
  overflow: visible;
}
.label-1 {
  width: 12.18%;
  height: 2.26%;
  position: absolute;
  right: 20.4%;
  left: 67.41%;
  bottom: 18.36%;
  top: 79.38%;
  overflow: visible;
}
.label-2 {
  width: 99.28px;
  height: 57.16px;
  position: static;
}
.label-content3 {
  width: 50.12px;
  height: 39.03px;
  position: static;
}
.label-name2 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 7px;
  top: -10px;
  width: 32px;
  height: 20px;
}
.label-value3 {
  color: #c1cbec;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  left: 7.12px;
  top: 9.03px;
  width: 50px;
  height: 20px;
}
.vector3 {
  width: 18.78%;
  height: 2.26%;
  position: absolute;
  right: 73.31%;
  left: 7.91%;
  bottom: 83.24%;
  top: 14.51%;
  overflow: visible;
}
.label-name3 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  right: -7.83px;
  bottom: 83.25%;
  top: 12.78%;
  height: 3.97%;
  width: 36px;
}
.div13 {
  width: 1291px;
  height: 1085.82px;
  position: absolute;
  left: 108px;
  top: 468.18px;
}
.div14 {
  background: #fafbfc;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 4px;
  padding: 19px 53px 15px 62px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 63px;
  position: absolute;
  left: calc(50% - -112.5px);
  top: calc(50% - -58.91px);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.frame-171 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 217px;
  position: relative;
}
.vector4 {
  flex-shrink: 0;
  width: 26.67px;
  height: 26.67px;
  position: relative;
  overflow: visible;
}
.div15 {
  margin: 0 0 0 -6px;
  color: #696969;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  width: 168px;
}
.frame-170 {
  background: #fafbfc;
  border-radius: 8px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 4px;
  padding: 8px 50px 8px 71px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 63px;
  position: absolute;
  left: calc(50% - 645.5px);
  top: calc(50% - -58.91px);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
}
.frame-169 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 199px;
  position: relative;
}
.frame-162 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 45px;
  position: relative;
  overflow: visible;
}
.div16 {
  margin: 0 0 0 -6px;
  color: #696969;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  width: 136px;
}
.div17 {
  width: 1291px;
  height: 1085.82px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-166 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 697px;
  top: 1144px;
}
.vector5 {
  flex-shrink: 0;
  width: 21.02px;
  height: 19.54px;
  position: relative;
  overflow: visible;
}
.label-name4 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: relative;
  width: 158.49px;
  height: 16px;
}
.frame-165 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  left: 600px;
  top: 1142px;
}
.vector6 {
  flex-shrink: 0;
  width: 21.01px;
  height: 19.54px;
  position: relative;
  overflow: visible;
}
.label-name5 {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: relative;
  width: 106px;
  height: 16px;
}
.frame-168 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 48.35px;
  height: auto;
  position: absolute;
  left: 765px;
  top: 1481px;
  overflow: visible;
}
.frame-172 {
  display: flex;
  flex-direction: row;
  gap: 31px;
  align-items: center;
  justify-content: center;
  width: 987px;
  position: absolute;
  left: 93px;
  top: 316px;
}
.div18 {
  color: #060606;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
}
.div19 {
  flex: 1;
  height: 39px;
  position: relative;
}
.search {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 3px;
  padding: 8px 16px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 358px;
  height: 39px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.search2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label {
  color: #828282;
  text-align: left;
  font-family: var(--presets-body2-font-family, "Inter-Bold", sans-serif);
  font-size: var(--presets-body2-font-size, 16px);
  line-height: var(--presets-body2-line-height, 24px);
  font-weight: var(--presets-body2-font-weight, 700);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.div20 {
  background: #364a79;
  padding: 10px 116px 10px 116px;
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  width: 1603px;
  height: 92px;
  position: absolute;
  left: -48px;
  top: -2px;
}
.boardname {
  color: #ffffff;
  text-align: left;
  font-family: "NicoMoji-Regular", sans-serif;
  font-size: 43px;
  line-height: 150%;
  letter-spacing: -0.01em;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  width: 299.63px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div21 {
  background: #e6e7ea;
  border-radius: 10px;
  padding: 4px 4px 4px 17px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 708.12px;
  height: 42px;
  position: relative;
}
.item-1 {
  border-radius: 10px;
  padding: 0px 7px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 153px;
  height: 31px;
  position: absolute;
  left: 5px;
  top: 5px;
  box-shadow: var(
    --button-shadow-box-shadow,
    0px 1px 2px 0px rgba(0, 0, 0, 0.05)
  );
  overflow: hidden;
}
.div22 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 153px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-2 {
  border-radius: 10px;
  padding: 0px 12px 0px 14px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 148px;
  height: 31px;
  position: absolute;
  left: 167px;
  top: 5px;
  overflow: hidden;
}
.div23 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 162px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-4 {
  border-radius: 4px;
  padding: 0px 12px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 114px;
  height: 31px;
  position: absolute;
  left: 324.37px;
  top: 5px;
  overflow: hidden;
}
.div24 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 84px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-5 {
  border-radius: 4px;
  padding: 0px 12px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 154px;
  height: 31px;
  position: absolute;
  left: 425.37px;
  top: 5px;
  overflow: hidden;
}
.div25 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 131px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item-6 {
  background: #ffffff;
  border-radius: 10px;
  padding: 0px 18px 0px 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 143px;
  height: 31px;
  position: absolute;
  left: 561.37px;
  top: 5px;
  overflow: hidden;
}
.div26 {
  color: var(--text-primary, #000000);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  width: 141px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div27 {
  background: #e6e7ea;
  border-radius: 10px;
  border-style: solid;
  border-color: #e6e7ea;
  border-width: 3px;
  padding: 8px 16px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 287.64px;
  height: 42px;
  position: relative;
}
.search3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.label2 {
  color: #828282;
  text-align: left;
  font-family: var(--presets-body2-font-family, "Inter-Regular", sans-serif);
  font-size: var(--presets-body2-font-size, 16px);
  line-height: var(--presets-body2-line-height, 24px);
  font-weight: var(--presets-body2-font-weight, 400);
  position: relative;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.frame-160 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 487px;
  top: 178px;
  overflow: visible;
}
.div28 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 38px;
  position: absolute;
  left: 418px;
  top: 1564px;
}
.div29 {
  color: #696969;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  position: relative;
  width: 47px;
}
.v {
  margin: 0 0 0 -8px;
  color: #696969;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 47px;
  height: 30px;
}
.div30 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 93px;
  top: 185px;
  width: 469px;
  height: 37px;
}
.line-13 {
  margin-top: -4px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 4px 0 0 0;
  width: 1399px;
  height: 0px;
  position: absolute;
  left: 53px;
  top: 257px;
}
.rectangle-1244 {
  background: #4b65a2;
  width: 11px;
  height: 38px;
  position: absolute;
  left: 66px;
  top: 189px;
}
.frame-161 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 1182px;
  top: 192px;
  overflow: visible;
}
.frame-47 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1194px;
  top: 210px;
}
.mdi-home-circle {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.div31 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  width: 224px;
  height: 22px;
}
.div32 {
  width: 297px;
  height: 23px;
  position: absolute;
  left: 609px;
  top: 1685px;
}
.frame-134 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 52px;
  top: 0px;
}
.frame-132 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 205px;
  position: relative;
}
.frame-129 {
  flex-shrink: 0;
  width: 11px;
  height: 23px;
  position: relative;
}
.frame-122 {
  background: #4b65a2;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 23px;
  position: absolute;
  left: -11px;
  top: 0px;
}
._1 {
  color: #ffffff;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-1222 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
._2 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 7px;
  top: 2px;
}
.frame-131 {
  flex-shrink: 0;
  width: 20px;
  height: 23px;
  position: relative;
}
.frame-1223 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._3 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-1342 {
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.frame-1224 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div33 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-133 {
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  position: relative;
}
.frame-1225 {
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
._10 {
  color: #3a4788;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
.frame-124 {
  border-radius: 5px;
  padding: 8px 20px 8px 19px;
  width: 25px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-127 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 1.55px;
  top: 1.82px;
  overflow: visible;
}
.frame-125 {
  width: 25px;
  height: 23px;
  position: absolute;
  left: 31px;
  top: -1px;
}
.frame-1242 {
  border-radius: 5px;
  padding: 8px 20px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 23px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
}
.vector7 {
  width: 47.82%;
  height: 84.17%;
  position: absolute;
  right: -19.64%;
  left: 71.82%;
  bottom: -81.39%;
  top: 97.22%;
  transform: translate(-11.95px, -19.36px);
  overflow: visible;
}
.frame-126 {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 23px;
  position: absolute;
  left: 245px;
  top: 0px;
  overflow: visible;
}
.frame-1272 {
  border-radius: 5px;
  padding: 8px 20px 8px 19px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 23px;
  position: absolute;
  left: 272px;
  top: 0px;
}
.frame-128 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
